.container {
  margin-top: 50;
}

.hr {
  width: 5em;
  height: 2px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 3em;
}

.carousel_container {
}

.carousel_img {
  height: 35em;
  object-fit: contain;
  align-self: center;
  margin: 0 auto;
}
