.page_date {
  text-align: center;
  margin-bottom: 1.5em;
}

.section_title {
}

.plan_item {
  text-align: start;
  width: 100%;
  height: 3em;
  margin-bottom: 1em;
  background-color: #e4edf5;
}

.community_btn {
  text-align: start;
  width: 100%;
  height: 3em;
  margin-bottom: 1em;
  /* background-color: #dee2e6; */
}

.post_container {
  /* border: 1px #868e96 solid; */
  background-color: #fcece7;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.like_btn {
  margin-bottom: 1em;
}
