.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-btn.custom-button-hover:hover {
  /*.ant-btn only needed if .ant-btn:hover specified elsewhere*/
  background-color: purple;
  border: 2px solid orange;
  border-radius: 4px;
}
